//tipografia
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

//colores
$bg-fondo:#E1E2E4;
$negro-medio:#292929;
$negro-medio-5:rgba(41,
41,
41,
.5);
$blanco:#fff;
$negro:#000;
$red:#cc1313;
$yellow:#ffc107;
//fuentes
$oswald:'Oswald',
sans-serif;
$lato:'Lato',
sans-serif;
//tipo de fuentes
$light:300;
$regular:400;