//menu
.header.shrink.header-light {
  background: rgba(0, 0, 0, .7) !important;
}

header .navbar-brand .d-flex:before,
header .navbar-nav-brand .d-flex:before {
  border: none !important;
}

.section.section-divider-y:before,
section.section-divider-y:before {
  display: none;
}

.section.section-divider-y:after,
section.section-divider-y:after {
  display: none;
}

.icon-bars {
  color: $red !important;
}

.nav-link {
  color: white !important;
}

// reproductor
.jplayer {
  & a {
    opacity: 0 !important;
    list-style: none;
  }
}

.jp-page-btn-play {
  display: none;
}
.jp-page-btn-pause:before{
  content: " ";
}

// integrantes
.integrantes {
  background: $negro-medio;
  &-titulo {
    font-size: 3rem !important;
  }
  &-subtitulo {
    color: $red;
  }
  &-content {
    &:hover .integrantes-info {
      -webkit-animation-name: fadeOutUpBig;
      animation-name: fadeOutUpBig;
    }
    &:hover .integrantes-info__hover {
      display: block;
      transition-delay: 2s;
    }
  }
  &-info {
    font-family: $oswald;
    background: $negro-medio-5;
    top: -150px;
    position: relative;
    & h4,
    span {
      font-family: $oswald !important;
      font-weight: $light;
      line-height: 2rem !important;
    }
    & h4 {
      font-size: 2rem !important;
    }
    & span {
      font-size: 1.5rem !important;
      color: $red !important;
      font-weight: $regular;
    }
  }
  &-info__hover {
    top: -130px;
    position: relative;
    background: $red;
    height: 35px;
    margin: 0;
    display: none;
    & h4 {
      padding-top: 5px !important;
      font-family: $oswald !important;
      font-weight: $light;
    }
  }
}

.carousel-custom.carousel-base-color .flickity-prev-next-button {
  background: $red !important;
}

//presentaciones
table {
  font-family: $oswald;
}

th,
td {
  text-align: center;
  padding: 1.5rem !important;
}

thead {
  color: $red;
}

.table-dark {
  background-color: $negro-medio;
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(204, 19, 19, .2) !important;
}

.presentaciones {
  &-button {
    background: yellow;
    color: #000 !important;
    cursor: pointer;
    padding: 5px 25px;
    &:hover {
      color: $bg-fondo !important;
      transition-delay: .5s;
    }
  }
}

section.py-big {
  padding: 50px 0;
}

section.section-divider-y {
  padding: 100px 0 0px 0;
}

//musicales
.musicales {
  padding: 60px 0 20px 0 !important;
  &-content {
    position: relative;
  }
}

figure {
  & a {
    display: block;
  }
  figcaption {
    background: linear-gradient(to bottom right, rgba(225, 226, 228, .7) , rgba(255, 255, 255,.6));
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    height: 50px;
    & h6 {
      font-family: $oswald;
      font-size: 1.2rem;
      color: $red;
      margin-top: 10px !important;
    }
  }
}

.musicales-content figure a:before {
  content: '';
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  background: linear-gradient(rgba(204, 19, 19, .3), rgba(255, 255, 255, .5));
}

.musicales-content figure a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06e";
  color: #fff;
  font-size: 22px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
  top: -30%;
  margin-top: -26px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  text-align: center;
  line-height: 52px;
  border: 2px solid #fff;
  transition: all 0.2s ease-in;
}

.musicales-content figure a:hover:after {
  top: 50%;
}

.musicales-content figure a:hover:before {
  top: 0;
}

// redes solicales
.channels_list {
  & li a {
    display: block;
    width: 100%;
    background: #fff;
    padding: 15px 30px;
    position: relative;
    text-align: right;
    color: #222222;
    overflow: hidden;
    &:hover {
      background: #cc1313;
      color: #fff !important;
    }
  }
  & li {
    list-style: none;
  }
  & a {
    text-decoration: none;
    margin: .7rem;
  }
}

.link-icons {
  display: flex !important;
  justify-content: space-between;
}

.icon-redes {
  font-size: 1.2rem;
} // contactos
.contacto {
  background-color: $negro-medio;
  padding: 20px 20px !important;
  &-img {
    width: 100% !important;
  }
  &-label {
    color: $red;
  }
  &-button {
    background-color: $red;
    color: #fff;
    &:hover {
      border: 1px solid $red;
      background-color: #fff;
      color: $red;
    }
  }
}

//modal
.modal {
  &-content {
    background-color: #fff;
    color: $red;
  }
  &-titulo {
    font-family: $lato;
    margin: 15px 0;
    color: #ccc;
  }
  &-numero {
    margin: 20px 0;
    & label {
      padding-left: 0 !important;
    }
  }
  &-terminos {
    margin: 15px 0;
  }
  &-icon {
    margin-left: 10px;
  }
  &-footer {
    padding: 16px 0 0 0 !important;
  }
  &-btn {
    background-color: $red;
    color: #fff !important;
    margin-right: 0 !important;
    padding: 13px 25px !important;
    &:hover {
      background-color: #fff;
      color: $red !important;
      border: 1px solid $red !important;
    }
  }
}