/* LOGIN - START */

.container-login {
  background: url(../img/banner/bg-login.png);
  background-size: cover;
  height: 100vh;
}

.form-login {
  margin: auto;
  border: 1px solid #cc1313;
  padding: 20px 10px 15px 25px;
  border-radius: 10px;
  background: rgba(41, 41, 41, .5);
}

.input-group-text {
  background: #cc1313;
}

.input-group-text i {
  color: #fff;
}

.form-control-login:focus {
  border-color: #cc1313;
  box-shadow: 0 0 0 0.2rem rgba(204, 19, 19, 0.25);
}

.btn-login {
  border: 1px solid #cc1313;
  background: #fff;
  color: #cc1313;
}

.btn-login:hover {
  background: #cc1313;
  color: #fff;
  border: 1px solid #cc1313;
}

/* LOGIN - END */

/* ADMIN - START */

.header {
  padding: 0;
  padding-top: 60px;
}

.logo {
  width: 100px;
}

.navbar-admin {
  background: #292929 !important;
}

.btn-admin {
  background: #fff;
  color: #cc1313;
  border: 1px solid #cc1313;
}

.btn-admin:hover {
  background: #cc1313;
  color: #fff;
  border-color: #cc1313;
}

.pasado {
  margin-top: 30px !important;
}

/* content */

.content {
  background-color: #fff;
}

.dataTables_wrapper {
  width: 100%;
}

/* table */

.buscar {
  border-radius: 10px;
}

.buscar:focus {
  border-color: #cc1313 !important;
  border-radius: 10px;
  box-shadow: 0 0 0 0.2rem rgba(204, 19, 19, 0.25) !important;
}

/* modal */

.modal-editar {
  background: #28a745;
  color: #fff;
}

.modal-eliminar {
  background: #cc1313;
  color: #fff;
}