@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
* {
  box-sizing: border-box; }

body {
  background: #292929; }

.header.shrink.header-light {
  background: rgba(0, 0, 0, 0.7) !important; }

header .navbar-brand .d-flex:before,
header .navbar-nav-brand .d-flex:before {
  border: none !important; }

.section.section-divider-y:before,
section.section-divider-y:before {
  display: none; }

.section.section-divider-y:after,
section.section-divider-y:after {
  display: none; }

.icon-bars {
  color: #cc1313 !important; }

.nav-link {
  color: white !important; }

.jplayer a {
  opacity: 0 !important;
  list-style: none; }

.jp-page-btn-play {
  display: none; }

.integrantes {
  background: #292929; }
  .integrantes-titulo {
    font-size: 3rem !important; }
  .integrantes-subtitulo {
    color: #cc1313; }
  .integrantes-content:hover .integrantes-info {
    -webkit-animation-name: fadeOutUpBig;
    animation-name: fadeOutUpBig; }
  .integrantes-content:hover .integrantes-info__hover {
    display: block;
    transition-delay: 2s; }
  .integrantes-info {
    font-family: "Oswald", sans-serif;
    background: rgba(41, 41, 41, 0.5);
    top: -150px;
    position: relative; }
    .integrantes-info h4,
    .integrantes-info span {
      font-family: "Oswald", sans-serif !important;
      font-weight: 300;
      line-height: 2rem !important; }
    .integrantes-info h4 {
      font-size: 2rem !important; }
    .integrantes-info span {
      font-size: 1.5rem !important;
      color: #cc1313 !important;
      font-weight: 400; }
  .integrantes-info__hover {
    top: -130px;
    position: relative;
    background: #cc1313;
    height: 35px;
    margin: 0;
    display: none; }
    .integrantes-info__hover h4 {
      padding-top: 5px !important;
      font-family: "Oswald", sans-serif !important;
      font-weight: 300; }

.carousel-custom.carousel-base-color .flickity-prev-next-button {
  background: #cc1313 !important; }

table {
  font-family: "Oswald", sans-serif; }

th,
td {
  text-align: center;
  padding: 1.5rem !important; }

thead {
  color: #cc1313; }

.table-dark {
  background-color: #292929; }

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(204, 19, 19, 0.2) !important; }

.presentaciones-button {
  background: yellow;
  color: #000 !important;
  cursor: pointer;
  padding: 5px 25px; }
  .presentaciones-button:hover {
    color: #E1E2E4 !important;
    transition-delay: .5s; }

section.py-big {
  padding: 50px 0; }

section.section-divider-y {
  padding: 100px 0 0px 0; }

.musicales {
  padding: 60px 0 20px 0 !important; }
  .musicales-content {
    position: relative; }

figure a {
  display: block; }
figure figcaption {
  background: linear-gradient(to bottom right, rgba(225, 226, 228, 0.7), rgba(255, 255, 255, 0.6));
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  height: 50px; }
  figure figcaption h6 {
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    color: #cc1313;
    margin-top: 10px !important; }

.musicales-content figure a:before {
  content: '';
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  background: linear-gradient(rgba(204, 19, 19, 0.3), rgba(255, 255, 255, 0.5)); }

.musicales-content figure a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06e";
  color: #000;
  font-size: 22px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
  top: -30%;
  margin-top: -26px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  text-align: center;
  line-height: 52px;
  border: 2px solid #000;
  transition: all 0.2s ease-in; }

.musicales-content figure a:hover:after {
  top: 50%; }

.musicales-content figure a:hover:before {
  top: 0; }

.channels_list li a {
  display: block;
  width: 100%;
  background: #fff;
  padding: 15px 30px;
  position: relative;
  text-align: right;
  color: #222222;
  overflow: hidden; }
  .channels_list li a:hover {
    background: #cc1313;
    color: #fff; }
.channels_list li {
  list-style: none; }
.channels_list a {
  text-decoration: none;
  margin: .7rem; }

.link-icons {
  display: flex !important;
  justify-content: space-between; }

.icon-redes {
  font-size: 1.2rem; }

.contacto {
  background-color: #292929;
  padding: 20px 20px !important; }
  .contacto-img {
    width: 100% !important; }
  .contacto-label {
    color: #cc1313; }
  .contacto-button {
    background-color: #cc1313;
    color: #fff; }
    .contacto-button:hover {
      border: 1px solid #cc1313;
      background-color: #fff;
      color: #cc1313; }

.modal-content {
  background-color: #fff;
  color: #cc1313; }
.modal-titulo {
  font-family: "Lato", sans-serif;
  margin: 15px 0;
  color: #ccc; }
.modal-numero {
  margin: 20px 0; }
  .modal-numero label {
    padding-left: 0 !important; }
.modal-terminos {
  margin: 15px 0; }
.modal-icon {
  margin-left: 10px; }
.modal-footer {
  padding: 16px 0 0 0 !important; }
.modal-btn {
  background-color: #cc1313;
  color: #fff !important;
  margin-right: 0 !important;
  padding: 13px 25px !important; }
  .modal-btn:hover {
    background-color: #fff;
    color: #cc1313 !important;
    border: 1px solid #cc1313 !important; }

@media (max-width: 768px) {
  .portada {
    top: 90px; }

  section.section-divider-y {
    padding: 50px 0 0px 0; }

  .integrantes-titulo {
    font-size: 2.3rem !important; }

  .channels_list {
    padding-left: 0px; }

  .presentaciones-button {
    font-size: .8rem; } }
@media (max-width: 400px) {
  section.section-divider-y {
    padding: 50px 0 0px 0; }

  .integrantes-titulo {
    font-size: 1.8rem !important; }

  #jplayer_jukebox_container {
    width: 80%; }

  .channels_list {
    padding-left: 15px; }
    .channels_list li {
      padding-left: 0 !important; } }

/*# sourceMappingURL=estilos.css.map */
