/*
* Background Color
*/

.bg-base-color {
  background-color: #cc1313 !important;
}


/*
* Border Color
*/

.border-base-color {
  border-color: #cc1313 !important;
}


/*
* Button - Color
*/

.btn-base-color {
  color: #fff;
  background-color: #cc1313;
  border-color: #cc1313;
  color: #fff;
}

.btn-base-color:hover {
  color: #fff;
  background-color: #ff1a68;
  border-color: #ff0d5f;
}

.btn-base-color:focus, .btn-base-color.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}

.btn-base-color.disabled, .btn-base-color:disabled {
  color: #fff;
  background-color: #cc1313;
  border-color: #cc1313;
}

.btn-base-color:not(:disabled):not(.disabled):active, .btn-base-color:not(:disabled):not(.disabled).active, .show > .btn-base-color.dropdown-toggle {
  color: #fff;
  background-color: #ff0d5f;
  border-color: #ff0057;
}

.btn-base-color:not(:disabled):not(.disabled):active:focus, .btn-base-color:not(:disabled):not(.disabled).active:focus, .show > .btn-base-color.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}

.btn-outline-base-color {
  color: #cc1313;
  background-color: transparent;
  background-image: none;
  border-color: #cc1313;
}

.btn-outline-base-color:hover {
  color: #ffffff;
  background-color: #cc1313;
  border-color: #cc1313;
}

.btn-outline-base-color:focus, .btn-outline-base-color.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}

.btn-outline-base-color.disabled, .btn-outline-base-color:disabled {
  color: #cc1313;
  background-color: transparent;
}

.btn-outline-base-color:not(:disabled):not(.disabled):active, .btn-outline-base-color:not(:disabled):not(.disabled).active, .show > .btn-outline-base-color.dropdown-toggle {
  color: #fff;
  background-color: #cc1313;
  border-color: #cc1313;
}

.btn-outline-base-color:not(:disabled):not(.disabled):active:focus, .btn-outline-base-color:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-base-color.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}


/*
* Flickity
*/

.carousel-custom.carousel-base-color .flickity-prev-next-button {
  background-color: #cc1313 !important;
}

.carousel-custom.carousel-base-color.page-dots-custom .flickity-page-dots .is-selected > .page > .page-dots {
  color: #cc1313 !important;
}


/*
* Preloader
*/

.pace .pace-progress {
  background-color: #cc1313 !important;
}


/*
* Tabs
*/

.nav-tabs.nav-tabs-custom .nav-link.active {
  color: #cc1313 !important;
}


/*
* Text color
*/

.text-base-color {
  color: #cc1313 !important;
}